body {
   background-image: url("http://i.ebayimg.com/00/s/NTY2WDg0OQ==/z/64gAAOSwVFlUGCpA/$_32.JPG?set_id=880000500F");
   color: white;
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
   font-size: 30px;
	font-weight: bold;
	font-family: Georgia;
   background: rgba(0, 0, 0, 0.2);
   display: inline;
   border-radius: 5px;
}

h2 {
   background: rgba(0, 0, 0, 0.2);
   display: inline;
   border-radius: 5px;
}

label {

	font-family: Georgia;
	font-size: 15px;
}

.language {
	border: none;
}

.btn {
   border-top: 1px solid #b2d6ed;
   background: #b6c5cf;
   background: -webkit-gradient(linear, left top, left bottom, from(#7b8891), to(#b6c5cf));
   background: -webkit-linear-gradient(top, #7b8891, #b6c5cf);
   background: -moz-linear-gradient(top, #7b8891, #b6c5cf);
   background: -ms-linear-gradient(top, #7b8891, #b6c5cf);
   background: -o-linear-gradient(top, #7b8891, #b6c5cf);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 5px;
   }
.btn:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.btn:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }